	margin: auto;
	padding: 0;
	font-family: fantasy;
}
/* CUERPO DE LA PAGINA*/
body{
	background-color: #F4DFA4; 

}
/*Cabecera*/
header{
	background-color: #EED28E;
}
header h1{
	text-align: center;
	color: #71581C;
	padding: o.5em;
	font-size: 1.5em;
}
header h2{
	text-align: center;
	color: #8D7D53;
	padding: 0.5em;
	font-size: 1.2em;
}
/*nave*/
nav{
	background-color:#CBB069;
	min-height: 2 em;
}
nav p{
	display: inline;
}
nav a:link, nav a:visited{
	text-decoration:none ;
	color: #AA8001;
	background-color: #AA8001;
	margin: o.3 em;
}
nav a:hover, nav a:active{
	text-decoration: none;
	color: #9bf5ff;
	background-color: #543683;
	margin: 0.3em;
}
/*section principal*/
section{
	width:100%;
	background-color: #FFD777;
	float:left;
}
section h1
	{text-align: center;
	 padding:0.5em;
	 color: #AA8001;
	 font-size: 1.4em;	
}
section h2
	{text-align: center;
	 padding:0.5em;
	 color: #BA9C53;
	 font-size: 1.2em;	
}
section h3
	{text-align: left;
	 padding:0.3em 0.3em;
	 color: #958250;
	 font-size: 1 em;	
}
/*Articulos*/

section article{
	margin: 0.5em 3.0em;
	padding: 0.5em 2em;
	background-color: white;
	border: 3px #958250;
}
section article p{
	text-align: justify;
}
/*pie de pagina:  footer*/
footer {clear:both; background-color: #958250;}
footer h1{text-align: center; font-size: 1.6em;color: navy;padding: 0.7em;}
footer h2{text-align: center;font-size: 1em;padding: 0.4em;}
footer a {text-decoration: none; color: #958250;}
